      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container">
          <div class="section-title">
            <h2>Portfolio</h2>
            <p>Here are some of our completed and reviewed projects</p>
          </div>

          <div class="row">

          </div>

          <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <img
                src="assets/img/portfolio/portfolio-1.PNG"
                class="img-fluid"
                alt=""
              />

            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <img
                src="assets/img/portfolio/portfolio-2.PNG"
                class="img-fluid"
                alt=""
              />

            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <img
                src="assets/img/portfolio/portfolio-3.PNG"
                class="img-fluid"
                alt=""
              />

            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <img
                src="assets/img/portfolio/portfolio-4.PNG"
                class="img-fluid"
                alt=""
              />

            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <img
                src="assets/img/portfolio/portfolio-5.PNG"
                class="img-fluid"
                alt=""
              />

            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <img
                src="assets/img/portfolio/portfolio-6.PNG"
                class="img-fluid"
                alt=""
              />

            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio Section -->
