
      <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
          <div class="section-title">
            <h2>Services</h2>
            <p>
              We provide top of the line services to fulfill our customer needs
              by leveraging the latest technologies, employing skilled
              professionals, and continuously improving our processes to deliver
              high-quality and reliable services that exceed our customers'
              expectations.
            </p>
          </div>

          <div class="row">
            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <i class="bx bxl-dribbble"></i>
                </div>
                <h4><a href="">Web Development</a></h4>
                <p>
                  We offer professional web development services that are tailored to your business needs.

                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box iconbox-orange">
                <div class="icon">
                  <i class="bx bx-file"></i>
                </div>
                <h4><a href="">SEO</a></h4>
                <p>
                  Our SEO services can help you improve your website's visibility and ranking on search engines.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box iconbox-pink">
                <div class="icon">
                  <i class="bx bx-tachometer"></i>
                </div>
                <h4><a href="">Data analysis</a></h4>
                <p>
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa
                  qui officia
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box iconbox-yellow">
                <div class="icon">
                  <i class="bx bx-layer"></i>
                </div>
                <h4><a href="">Making Custom libraries</a></h4>
                <p>
                  Our data analysis services can help you make informed business decisions based on data-driven insights.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box iconbox-red">
                <div class="icon">
                  <i class="bx bx-slideshow"></i>
                </div>
                <h4><a href="">Social Media marketing</a></h4>
                <p>
                  Our digital marketing services are designed to help you reach your target audience and achieve your business goals.
                </p>
              </div>
            </div>

            <div
              class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box iconbox-teal">
                <div class="icon">
                  <i class="bx bx-arch"></i>
                </div>
                <h4><a href="">Problem Solving Approch</a></h4>
                <p>

                  We use a step-by-step approach to define the problem, gather data, analyze the situation, generate solutions, and implement the best solution.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->
