<!-- ======= Testimonials Section ======= -->
 <section id="testimonials" class="testimonials">
  <div class="container">
    <div class="section-title">
      <h2>Testimonials</h2>
      <p>
        We have completed more than 200 projects, and we are proud to have
        helped our clients achieve their goals and succeed in their
        respective industries. Here's what some of our clients have to say
        about our services
      </p>
    </div>

    <div
      class="testimonials-slider swiper"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              “We’ve looked at a lot of SEO solutions but these guys were
              always the clear favorite. They have the right strategy and
              they’ve been awesome to work with.”
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <!-- <img
            src="assets/img/testimonials/testimonials-2.jpg"
            class="testimonial-img"
            alt=""
          /> -->
            <h3>Irene Warner</h3>
            <h4>Ceo &amp; Founder</h4>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              “We have a constant flow of new leads thanks to this amazing
              SEO company. They gave us all the tools to convert leads
              into customers.”
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <!-- <img
              src="assets/img/testimonials/testimonials-2.jpg"
              class="testimonial-img"
              alt=""
            /> -->
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              “This incredible team managed to not only get us top
              positions on Google for all of our top keywords, but they
              kept us there, as well! I would highly recommend this
              company to anyone.”
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <!-- <img
              src="assets/img/testimonials/testimonials-3.jpg"
              class="testimonial-img"
              alt=""
            /> -->
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              “A great company that helps us translate likes, shares and
              comments into actual new business.”
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <!-- <img
              src="assets/img/testimonials/testimonials-4.jpg"
              class="testimonial-img"
              alt=""
            /> -->
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              “This hard-working team provides a consistent stream of
              fresh leads while equipping us with what we need to turn
              those into loyal customers.”
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <!-- <img
              src="assets/img/testimonials/testimonials-5.jpg"
              class="testimonial-img"
              alt=""
            /> -->
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              “I have only been working with this agency for a few months
              but I would recommend them without hesitation. Their client
              support has been outstanding and they have exceeded all of
              my expectations. I have worked with many SEO companies but
              none of them can compare to them.”
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <!-- <img
              src="assets/img/testimonials/testimonials-5.jpg"
              class="testimonial-img"
              alt=""
            /> -->
            <h3>carlos</h3>
            <h4>Entrepreneur & CEO</h4>
          </div>
        </div>
        <!-- End testimonial item -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Testimonials Section -->
