<div class="section-title">
  <h2>Testimonials</h2>
  <p>
    We have completed more than 200 projects, and we are proud to have
    helped our clients achieve their goals and succeed in their
    respective industries. Here's what some of our clients have to say
    about our services
  </p>
</div>
<swiper
      [slidesPerView]="2"
      [spaceBetween]="30"
      [pagination]="{ clickable: true }"
>
<ng-template swiperSlide>

  <div class="testimonial-item">
  <p>
    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
    “We’ve looked at a lot of SEO solutions but these guys were
    always the clear favorite. They have the right strategy and
    they’ve been awesome to work with.”
    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
  </p>
  <!-- <img
  src="assets/img/testimonials/testimonials-2.jpg"
  class="testimonial-img"
  alt=""
/> -->
  <h3>Irene Warner</h3>
  <h4>Ceo &amp; Founder</h4>
</div></ng-template>

<ng-template swiperSlide>

  <div class="testimonial-item">
  <p>
    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
    “We’ve looked at a lot of SEO solutions but these guys were
    always the clear favorite. They have the right strategy and
    they’ve been awesome to work with.”
    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
  </p>
  <!-- <img
  src="assets/img/testimonials/testimonials-2.jpg"
  class="testimonial-img"
  alt=""
/> -->
  <h3>Irene Warner</h3>
  <h4>Ceo &amp; Founder</h4>
</div></ng-template>

<ng-template swiperSlide>

  <div class="testimonial-item">
  <p>
    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
    “We’ve looked at a lot of SEO solutions but these guys were
    always the clear favorite. They have the right strategy and
    they’ve been awesome to work with.”
    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
  </p>
  <!-- <img
  src="assets/img/testimonials/testimonials-2.jpg"
  class="testimonial-img"
  alt=""
/> -->
  <h3>Irene Warner</h3>
  <h4>Ceo &amp; Founder</h4>
</div></ng-template>
<ng-template swiperSlide>

  <div class="testimonial-item">
  <p>
    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
    “We’ve looked at a lot of SEO solutions but these guys were
    always the clear favorite. They have the right strategy and
    they’ve been awesome to work with.”
    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
  </p>
  <!-- <img
  src="assets/img/testimonials/testimonials-2.jpg"
  class="testimonial-img"
  alt=""
/> -->
  <h3>Irene Warner</h3>
  <h4>Ceo &amp; Founder</h4>
</div></ng-template>
<ng-template swiperSlide>

  <div class="testimonial-item">
  <p>
    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
    “We’ve looked at a lot of SEO solutions but these guys were
    always the clear favorite. They have the right strategy and
    they’ve been awesome to work with.”
    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
  </p>
  <!-- <img
  src="assets/img/testimonials/testimonials-2.jpg"
  class="testimonial-img"
  alt=""
/> -->
  <h3>Irene Warner</h3>
  <h4>Ceo &amp; Founder</h4>
</div></ng-template>
<ng-template swiperSlide>

  <div class="testimonial-item">
  <p>
    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
    “We’ve looked at a lot of SEO solutions but these guys were
    always the clear favorite. They have the right strategy and
    they’ve been awesome to work with.”
    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
  </p>
  <!-- <img
  src="assets/img/testimonials/testimonials-2.jpg"
  class="testimonial-img"
  alt=""
/> -->
  <h3>Irene Warner</h3>
  <h4>Ceo &amp; Founder</h4>
</div></ng-template>



</swiper>
