 <!-- ======= Counts Section ======= -->
 <section id="counts" class="counts section-bg">
  <div class="container">
    <div class="row counters">
      <div class="col-lg-3 col-6 text-center">
        <h2>500+</h2>
        <p>Satisfied Clients</p>
      </div>

      <div class="col-lg-3 col-6 text-center">

        <!-- <animated-digit [digit]="85" [duration]="1000"></animated-digit> -->


        <h2>100+</h2>
        <p>Projects Completed</p>
      </div>

      <div class="col-lg-3 col-6 text-center">

        <h2>1000+</h2>
        <p>Hours Of Support</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <h2>18</h2>
        <p>Diligent Worker</p>
      </div>
    </div>
  </div>
</section>
<!-- End Counts Section -->
